.create-wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}


.settings{
  grid-row: 1;
  grid-column: 2;
}

.plot{
  height: 1em;
  width: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.plot:hover{
  background-color: black;
  height: 1em;
  width: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.content{
  display:block;
  width: auto;
}

.form-group{
  text-align: center;
  box-sizing: initial;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin: auto;
}

.form-group input[type = "email"]{
  margin-bottom: 10px;
}

.form-group input[type = "password"]{
  margin-bottom: 25px;
}

h5{
  color: aliceblue;
}

