.grid{
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  
}

.plot{
  height: 100%;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.content{
  display:block;
  width: auto;
}

.form-group{
  text-align: center;
  box-sizing: initial;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin: auto;
}

.form-group input[type = "email"]{
  margin-bottom: 10px;
}

.form-group input[type = "password"]{
  margin-bottom: 25px;
}

h5{
  color: aliceblue;
}

