img {

  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid black;

}

div.image {

  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 325px;

}

.caption {

  display: block;

}
